[submodule "diffvg"]
	path = diffvg
	url = https://github.com/BachiLi/diffvg.git
[submodule "LIVE"]
	path = LIVE
	url = https://github.com/Picsart-AI-Research/LIVE-Layerwise-Image-Vectorization.git
[submodule "Useg"]
	path = Useg
	url = https://github.com/u2seg/U2Seg.git
[submodule "depth-anything"]
	path = depth_anything
	url = https://huggingface.co/spaces/depth-anything/Depth-Anything-V2
